<h1>Generate a Random Animal Pic!</h1>

<form action="/generate">
<input type="radio" id="cat" name="animal" value="Cat">
<label for="cat">Cat</label><br>
<input type="radio" id="dog" name="animal" value="Dog">
<label for="dog">Dog</label><br>
<input type="radio" id="fox" name="animal" value="Fox">
<label for="fox">Fox</label><br>
<input type="radio" id="duck" name="animal" value="Duck">
<label for="duck">Duck</label><br>
<input type="radio" id="surprise" name="animal" value="Surprise">
<label for="surprise">Surprise me</label><br>
<button>Generate!</button>
</form>
